<div class="snippet_container">

<div class="ajax_snippet_box">
  <% unless current_user %>
    <div>
      You must be <%= link_to 'logged in', new_user_session_url %>
      to vote. <br />
      (Or
      <%= link_to 'create an account', new_user_registration_url %>)
    </div>
  <% else %>
    <div class="snippet_vote_area"
         id="snippet_vote_area_<%= snippet.id %>">
      This snippet is:
      <%= select(:vote, :vote_type, SnippetsController::VoteTypeNames,
                 {},
                 { :class => "snippet_vote_selector_#{snippet.id}" })
       %>

      <div class="snippet_vote_button shadow"
           id="vote_button_<%= snippet.id -%>">
        Vote!
      </div>
    </div>

    <div class="snippet_unvote_area"
         id="snippet_unvote_area_<%= snippet.id %>">
      You voted this snippet was
      <span id="snippet_vote_type_<%= snippet.id %>">
        <%= snippet.vote_type_for(current_user) %></span>.

      <div class="snippet_unvote_button shadow"
           id="unvote_button_<%= snippet.id -%>">
        Changed My Mind!
      </div>
    </div>

    <% javascript_tag do %>
      <% un = snippet.has_vote_for?(current_user) ? "" : "un" %>
      $("#snippet_<%= un -%>vote_area_<%= snippet.id %>").hide();
    <% end %>
  <% end %>

  <div>
    Our users think this snippet is
    <span class="snippet_tag">placeholder</span>
  </div>
</div>

<div class="main_snippet_box">

  <%= link_to_unless_current "<h2> #{h snippet.title} </h2>", snippet %>

  <% harsh_format = SnippetsController::Languages[snippet.language]
     harsh_format ||= "ruby"
     harsh :lines => true, :format => harsh_format, :theme => :eiffel do %>
    <%= snippet.body %>
  <% end %>

  <p class="snippet_notes">
    <span class="snippet_notes_tag">Notes:</span>
    <%= h snippet.notes %>
  </p>

  <p>
    <span class="snippet_written_in">Written in</span>
    <span class="snippet_language"> <%= h snippet.language %> </span>
  </p>

  <p>
    <span class="posted_date">
    Posted: <%= snippet.created_at %>
    <% if snippet.updated_at != snippet.created_at %>
      / Last Edited: <%= snippet.updated_at %>
    <% end %>
    </span>

    &nbsp; &nbsp; &nbsp;
    <% n_refactors = snippet.refactors.count %>
    <%= link_to_unless_current "#{n_refactors} Refactors", snippet %>
    <%= link_to 'Edit', edit_snippet_path(snippet) %>
    <%= link_to 'Destroy', snippet, :confirm => 'Delete this snippet?',
              :method => :delete %>
  </p>
</div>

<div class="clear"> </div>

</div>
