<div class="snippet_container rounded16px">

<%= link_to "<h2> #{h snippet.title} </h2>", snippet %>

<p>
<span class="snippet_written_in">Written in</span>
<span class="snippet_language"> <%= h snippet.language %> </span>
</p>

<% harsh :lines => true do %>
  <%= snippet.body %>
<% end %>

<p class="snippet_notes">
  <%= h snippet.notes %>
</p>

<p>
  <span class="posted_date">
  Posted: <%= snippet.created_at %>
  <% if snippet.updated_at != snippet.created_at %>
    / Last Edited: <%= snipped.updated_at %>
  <% end %>
  </span>

  &nbsp; &nbsp; &nbsp;

  <%= link_to_unless_current 'Show', snippet %>
  <%= link_to 'Edit', edit_snippet_path(snippet) %>
  <%= link_to 'Destroy', snippet, :confirm => 'Delete this snippet?',
              :method => :delete %>
</p>

</div>
