<div class="refactor_container">

<div class="ajax_refactor_box">
  <% unless current_user %>
    <div>
      You must be <%= link_to 'logged in', new_user_session_url %>
      to vote. <br />
      (Or
      <%= link_to 'create an account', new_user_registration_url %>)
    </div>
  <% else %>
    <div class="refactor_vote_area"
         id="refactor_vote_area_<%= refactor.id %>">
      This refactor is:
      <%= select(:vote, :vote_type, RefactorsController::VoteTypeNames,
                 {},
                 { :class => "refactor_vote_selector_#{refactor.id}" })
       %>

      <div class="refactor_vote_button shadow"
           id="vote_button_<%= refactor.id -%>">
        Vote!
      </div>
    </div>

    <div class="refactor_unvote_area"
         id="refactor_unvote_area_<%= refactor.id %>">
      You voted this refactor was
      <span id="refactor_vote_type_<%= refactor.id %>">
        <%= refactor.vote_type_for(current_user) %></span>.

      <div class="refactor_unvote_button shadow"
           id="unvote_button_<%= refactor.id -%>">
        Changed My Mind!
      </div>
    </div>

    <% javascript_tag do %>
      <% un = refactor.has_vote_for?(current_user) ? "" : "un" %>
      $("#refactor_<%= un -%>vote_area_<%= refactor.id %>").hide();
    <% end %>
  <% end %>

  <div>
    Our users think this refactor is
    <span class="refactor_tag">placeholder</span>
  </div>
</div>

<div class="main_refactor_box">

  <h2> Refactor of <%= h refactor.snippet.title %> </h2>

  <% harsh :lines => true do %>
    <%= refactor.body %>
  <% end %>

  <p class="refactor_comment">
    <span class="refactor_comment_tag">Comment:</span>
    <%= h refactor.comment %>
  </p>

  <p>
    <span class="refactor_written_in">Written in</span>
    <span class="refactor_language"> <%= h refactor.language %> </span>
  </p>

  <p>
    <span class="posted_date">
    Posted: <%= refactor.created_at %>
    <% if refactor.updated_at != refactor.created_at %>
      / Last Edited: <%= refactor.updated_at %>
    <% end %>
    </span>

    &nbsp; &nbsp; &nbsp;
    <%= link_to_unless_current 'Show', snippet_refactor_path(refactor.snippet, refactor) %>
    <%= link_to 'Edit', edit_snippet_refactor_path(refactor.snippet, refactor) %>
    <%= link_to 'Destroy', snippet_refactor_path(refactor.snippet, refactor), :confirm => 'Delete this refactor?',
              :method => :delete %>
  </p>
</div>

<div class="clear"> </div>

</div>
