<p>
  <b>Body:</b>
  <%=h @refactor.body %>
</p>

<p>
  <b>Comment:</b>
  <%=h @refactor.comment %>
</p>

<p>
  <b>Snippet:</b>
  <%=h @refactor.snippet_id %>
</p>

<p>
  <b>Language:</b>
  <%=h @refactor.language %>
</p>

<p>
  <b>User:</b>
  <%=h @refactor.user_id %>
</p>

<p>
  <b>User note:</b>
  <%=h @refactor.user_note %>
</p>


<%= link_to 'Edit', edit_refactor_path(@refactor) %> |
<%= link_to 'Back', refactors_path %>